body {
  font-family: Roboto;
  font-size: 18px;
}

.board {
  width: 1000px; 
  height: 700px;
  margin-left: 600px;
}
.submit-button {
width: 600px;
height: 56px;
align-items: center;
padding: 17px 61px;
background-color: #000;
color: white;
font-size: 18px;
}

.draggable-obj-parent {
position: fixed;
width: 500px;
height: 1024px;
background: #EBEBEB;
box-sizing: border-box;
margin-top: 0;
}

.draggable-object {
position: absolute;
width: 340px;
height: 64px;
left: 80px;
top: 80px;
background: #FFFFFF;
text-align: center;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
}

.input-parent {
  margin-top: 0;
  width: 500px;
  height: 15px;
  background-color: #EBEBEB;
  margin-bottom: 18px;
  padding: 50px
}
 
.input-field {
  font-size: 15px;
}

.saved-event, .input-field {
text-align: left;
list-style: none;
outline: none;
border: none;
background-color: #EBEBEB;
}

.event-parent{
  margin-top: 0;
  width: 500px;
  height: 20px;
  background-color: #EBEBEB;
  padding: 50px;
};



